@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


:root {
    --white: #fff;
    --green: #43B97F;
    --grey: #7c7c7c;
	--text-color: #3D3E48;
}

body {
    font-family: 'Poppins', serif;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 10px rgba(152, 152, 152, 0.3);
	background-color: #ffffff;
	border-radius: 10px;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #ffffff;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, #6c757d),
									   color-stop(0.72, #495057),
									   color-stop(0.86, #343a40));
}

.container {
    max-width: 1430px;
    padding: 0 15px;
    margin: 0 auto;
}

